<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aura.mapper.PrintRecordMapper" >
    <select id="findPrintRecordById" resultType="cn.aura.entity.PrintRecord" parameterType="java.lang.Integer" >
        select *
        from wms_print_record
        where id = #{id}
    </select>
</mapper>
